<!DOCTYPE html>
<html>
<head>
    <title>Book Recommendation App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="mb-4">Welcome to the Book Recommendation App!</h1>
                <p class="lead mb-4">Click the button below to get a book recommendation based on a tag:</p>
                <a href="/recommend" class="btn btn-custom btn-lg">Get Recommendation</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
